.order-table {
  padding: 20px;
}

.order-table table {
  width: 100%;
  border-collapse: collapse;
}

.order-table th,
.order-table td {
  padding: 10px;
  border: 1px solid #ccc;
}

.order-table th {
  background-color: #0a9396;
  color: white;
}
