
.nav-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height:100px;
    padding: 1rem;
    box-sizing: border-box;
    gap: 1rem;
    background-color: #f9fafb; 
    margin-bottom:50px;
    margin-top:50px;

  }
  
  .search-bar {
    display: flex;
    width: 70%;
    align-items: center;
    gap: 0.5rem;
  }
  
  .search-bar input[type="text"] {
    flex: 1;
    padding: 0.75rem 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
    width: 100%;
     
  }
  .search-bar input[type="text"]:hover{
    border:2px solid black;
    filter: brightness(100);
  }
  
  .search-bar .container {
    font-size: 1.5rem;
    cursor: pointer;
    color: #444;
  }
  
  .search-bar .container:hover {
    color: #000;
    
  }
  
  .Navbuttons {
    display: flex;
    width: inline-block;
    justify-content: space-evenly;
    gap: 1rem;
    margin-left: 14rem;
  }
  
  .Navbuttons button {
    margin-left: 10px;
    padding: 0.3rem;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .Navbuttons button:hover {
    background-color: #ddd;
    transform: scale(1.4);
    color:red;
  }
  .hov{
color:black;
  }
  .hov:hover{
    background-color: #ddd;
    transform: scale(1.4);
    color:red;
  }
  